* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(63, 9, 102);

}

.navbar {

    background-color: rgb(63, 9, 102);

    padding: 10px;
}

.logo {
    text-align: center;

}

.logo img {
    width: 165px;

}


.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 10px;
    color: white;
}

/* section-1 */

.main-head h1 {
    font-size: 45px;
    color: rgb(222, 159, 2);
    text-align: center;
}

.placed-students-icon {
    text-align: center;
    padding: 10px 0;
}

.placed-students-icon:hover {
    scale: 1.2;
}

.section-1 {
    background-color: rgb(75, 10, 122);
    padding: 50px 50px 0px 50px;
}

.main-head h2 {
    padding: 20px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.boy-girl {
    text-align: center;
    padding-top: 20px;
}

.boy-girl>img {
    width: 500px;
    transition-property: scale;
    transition-duration: 1s;
}

.boy-girl>img:hover {
    scale: 1.1;
    cursor: pointer;
}


/* section-2 */

.exploreour {
    padding-bottom: 20px;
}

.content {
    text-align: center;
    padding: 20px 10px;
}

.buttons1 :hover {
    color: rgb(75, 10, 122);
    background-color: white;
}

.buttons1 button {
    color: white;
    background-color: rgb(75, 10, 122);
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 14px;
    font-size: large;
    cursor: pointer;
}

.buttons1 {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.buttons2 {
    display: flex;

}

.buttons2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons2 button {
    border: 1px solid rgb(63, 9, 102);
    border-radius: 21px;
    padding: 7px 20px;
    cursor: pointer;
    /* font-weight: bold; */
}

.buttons2 :hover {
    color: white;
    background-color: rgb(75, 10, 122);
}

.courses {
    text-align: center;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 11px;
    margin: 10px 0;
}

.courses:hover {
    border: 1px solid yellow;
}

.courses>img {
    width: 200px;
    height: 150px;

    object-fit: contain;

    transition-property: scale;
    transition-duration: 1s;
}

.courses>img:hover {
    scale: 1.1;
}

.section-2 {
    padding: 30px;

}

.com-button {
    text-align: center;
}

.com-button button {
    padding: 10px 20px;
    border: 1px solid rgb(63, 9, 102);
    border-radius: 11px;
}

.com-button :hover {
    color: white;
    background-color: rgb(75, 10, 122);
}

/* Section-3 */
.section-3 {
    padding: 30px;
}

.training-and-certification>img {
    width: 300px;
}

.training-and-certification {
    padding: 20px 10px;
    text-align: center;
}

.students,
.placements,
.trainers,
.experience {
    text-align: center;
    padding: 15px;
    font-size: large;
}

/* Section-4 */
.section-4 {
    padding: 30px;
}

.why-choose-us {
    text-align: center;
}

.trainers>img {
    width: 400px;
}

.experienced-trainers {
    text-align: center;
}

.more-than-40 {
    text-align: center;
}

.moreThan {
    text-align: center;
}

.moreThan>img {
    width: 400px;
}


@media (min-width:600px) {}


@media (min-width:900px) {

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .menu {}

    .main-head h1 {
        font-size: 81px;
        margin: 60px;

    }

    .courses-container {
        display: flex;
        gap: 20px;

        flex-wrap: wrap;

        justify-content: center;
    }

    .details {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}