* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(63, 9, 102);

}

p {
    color: gray;
}

button {
    margin: 20px;
}

.navbar {
    background-color: rgb(63, 9, 102);
    padding: 10px;



}

.logo {
    text-align: center;
}

.logo img {
    width: 165px;
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 8px;
    color: white;
}

/* section-1 */

.main-head h1 {
    font-size: 45px;
    color: rgb(222, 159, 2);
    text-align: center;
}

.placed-students-icon {
    text-align: center;
    padding: 10px 0;
}

.placed-students-icon:hover {
    scale: 1.2;
}

.section-1 {
    background-color: rgb(75, 10, 122);
    padding: 50px 50px 0px 50px;
}

.main-head h2 {
    padding: 20px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.boy-girl {
    text-align: center;
    padding-top: 20px;
}

.boy-girl>img {
    width: 100%;
    transition-property: scale;
    transition-duration: 1s;
}

.boy-girl>img:hover {
    scale: 1.1;
    cursor: pointer;
}


/* section-2 */
.section-2>.content {
    margin: 40px;
    /* width: 100%; */
    text-align: center;
}

.courses-container {
    padding: 0px 120px 10px;

}

.buttons1 :hover {
    color: rgb(75, 10, 122);
    background-color: white;
}

.buttons1 button {
    color: white;
    background-color: rgb(75, 10, 122);
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 14px;
    font-size: large;
    cursor: pointer;
}

.buttons1 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons2 {
    display: flex;
}

.buttons2 {
    display: flex;
    justify-content: center;
    /* gap: 20px; */
}

.buttons2 button {
    border: 1px solid rgb(63, 9, 102);
    border-radius: 21px;
    padding: 7px 20px;
    cursor: pointer;
    /* font-weight: bold; */
}

.buttons2 :hover {
    color: white;
    background-color: rgb(75, 10, 122);
}

.courses {
    text-align: center;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 11px;
    margin: 10px 0;
    padding: 0px 30px;

}

.courses:hover {
    border: 1px solid yellow;
}

.courses>img {
    width: 100%;
    height: 150px;

    object-fit: contain;

    transition-property: scale;
    transition-duration: 1s;
}

.courses>img:hover {
    scale: 1.1;
}

.buttons3 :hover {
    color: white;
    background-color: rgb(75, 10, 122);
}

.buttons3 button {
    background-color: white;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 14px;
    font-size: large;
    cursor: pointer;
}

.buttons3 {
    text-align: center;
}

/* Section-3 */
.section-3 {
    padding: 80px 120px 10px;
    text-align: center;
}

.training-and-certification>img {
    width: 100%;
}

.training-and-certification {
    padding: 20px 10px;
    text-align: center;
}

.students,
.placements,
.trainers,
.experience {
    text-align: center;
    padding: 15px;
    font-size: large;
}

/* Section-4 */
.section-4 {
    padding: 80px 120px;
}

.why-choose-us {
    text-align: center;
}

.trainers>img {
    width: 100%;
}

.experienced-trainers {
    text-align: center;
}

.more-than-40 {
    text-align: center;
}

.we-are-accredited {
    text-align: center;
}

.accredited {
    width: 100%;
}

/* section-5 */
.section-5 {
    background-color: rgb(75, 10, 122);
    padding: 50px 120px;
}

.our-process {
    text-align: center;
}

.our-process>p,
.our-process>h2 {
    color: rgb(224, 224, 224);

}

/* section-6 */
.section-6 {
    padding: 50px 120px;
    text-align: center;
}

.placementImages {
    display: flex;
    flex-wrap: wrap;
}

.placedAt {
    text-align: center;
    border-radius: 11px;
    margin: 10px 0;
}

.placedAt>img {
    /* width: 200px;
    height: 150px; */
    width: 100%;
    object-fit: contain;
    transition-property: scale;
    transition-duration: 1s;
}

.placedAt>img:hover {
    scale: 1.1;
}

/* section 7 */
.section-7 {
    background-color: rgb(75, 10, 122);
    text-align: center;
    padding: 50px 120px;
}

.futuraAlumni>p,
.futuraAlumni>h2 {
    color: rgb(224, 224, 224);
}

/* section 8 */
.section-8 {
    text-align: center;
    padding: 50px 120px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contactUsNow {
    background-color: rgb(75, 10, 122);
    border-radius: 20px;
    width: 100%;
    padding: 50px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join>p,
.join>h1 {
    color: rgb(224, 224, 224);
}

.sreeraj {
    width: 100%;
}


/* section 9 */
.section-9 {
    text-align: center;
    padding: 50px 120px;
}

.googleRating {
    width: 100%;
}

/* section 10 */
.section-10 {
    text-align: center;
    padding: 50px 120px;
    background-color: rgb(75, 10, 122);
}

.content1>p,
.content1>h1 {
    color: white;
}

.faq>img:hover {
    scale: 1.1;
}

.faq>img {
    width: 100%;
    transition-property: scale;
    transition-duration: 1s;
}

.fill>input {
    padding: 8px 10px;
    background-color: blueviolet;
    border-radius: 9px;
    border-style: none;
    width: 100%;
    margin-bottom: 10px;
}

.girlWithLaptop {
    width: 100%;
}

/* section-12 */
.section-12 {
    text-align: center;
    background-color: rgb(63, 9, 102);
}
.section-12 h1{
    color: rgb(224, 224, 224);
    margin-top: 10px;
}
.section-12 p{
    color: rgba(224, 224, 224, 0.708);
}





@media (min-width:1200px) {

    /* navbar */
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    /* section 1 */
    .section-1 {
        padding-bottom: 40px;
    }

    .sec-1 {
        display: flex;
        align-items: center;
    }

    .main-head>h1 {
        text-align: left;
    }

    .boy-girl>img {
        width: 800px;
    }

    .menu {}

    .main-head h1 {
        font-size: 81px;
        margin: 60px;

    }

    .courses-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }


    /* section 3 */
    .sec-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .training-and-certification>img {
        width: 400px;
    }

    .training-and-certification {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .part {
        flex: 1;
    }

    .part-1 {
        display: flex;
        align-items: center;
    }

    .part-2 {
        display: flex;
        align-items: center;
    }

    .com-button {
        margin: 20px;
        text-align: start;
    }

    .about-us2 {
        flex: 1;
        text-align: start;
        justify-content: start;
    }

    /* section 4 */
    .details {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .experienced-trainers {
        text-align: start;
    }

    .more-than-40 {
        text-align: start;
    }


    .box {
        width: 400px;
    }
}